header{
    width: 100%;
    height:90px;
    line-height: 80px;
    padding-left: 120px;
    font-size: 20px;
    color: gray;
    display: inline-flex;
    align-items: center;
}
header>div{
    display: inline-block;
}
#logo{
    height: 60px;
    width: 60px;
    margin-right:30px;
}
#logo img{
    width: inherit;
    height: inherit;
}
#content{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#spider-chart{
    width: 70%;
    height: 80%;
}
footer{
    height: 110px;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 14px;
}